<%= render "application/header" %>
<div class="flex">
  <h1>Ty's Electric Daydream</h1>
  <p>I like to write about things I'm thinking about while I learn how to code. Learning new things on my way to living my dream.</p>
</div>
<% @posts.each do |post| %>
<% end %>
